[submodule "sort"]
	path = modules/sort
	url = https://github.com/aghagol/sort.git
[submodule "visualizeMOT"]
	path = modules/visualizeMOT
	url = https://github.com/aghagol/visualizeMOT.git
[submodule "rnntracking"]
	path = modules/rnntracking
	url = https://github.com/aghagol/rnntracking.git
[submodule "evaluateMOT"]
	path = modules/evaluateMOT
	url = https://github.com/aghagol/evaluateMOT.git
